/* =~= Theme Properties =~= */
$header-height: 3rem;
$border-radius-base: 2px;

/* =~= Fonts =~= */
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@200;400;600;800&display=swap");
$font-family-base: "Onest", sans-serif;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-base: 18px;
$font-size-s: 14px;
$letter-spacing-base: 1px;
$regular: 400;
$semi-bold: 600;

/* =~= Colours =~= */
/* primary | #0B8A0B */
$primary: #0b8a0b;
$primary-hover: #0e9f0e;
$primary-accent: #27d627;
$primary-fade: rgba(11, 138, 11, 0.5);
/* secondary | #652CBB */
$secondary: #652cbb;
$secondary-accent: #9a57ff;
$secondary-fade: rgba(101, 44, 187, 0.5);
/* base | #E6E6E6 */
$light: #fff;
$dark: #000;
/* neutral | #E6E6E6 */
$neutral: #e6e6e6;
$neutral-accent: #c7c7c7;
/* success  | #69AA08 */
$success: #69aa08;
$success-fade: rgba(105, 170, 8, 0.5);
/* warnings | #DBEA08 */
$warning: #dbea08;
$warning-fade: rgba(217, 232, 8, 0.5);
/* errors | #DB0723 */
$danger: #db0723;
$danger-fade: rgba(218, 7, 35, 0.5);

/* =~= Transitions =~= */
$transition-time-property: 0.3s ease-in-out;
