@import "../../theme.scss";

.hamburger {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }
}

.bars {
  width: 1.5rem;
  height: 0.15rem;
  background: $dark;
  border-radius: $border-radius-base;
  transition: all $transition-time-property;
  position: relative;
  transform-origin: 1px;
}

.firstBarActive {
  transform: rotate(45deg);
}

.secondBarActive {
  opacity: 0;
  transform: translateX(20px);
}

.secondBarInactive {
  opacity: 1;
  transform: translateX(0);
}

.thirdBarActive {
  transform: rotate(-45deg);
}

.firstBarInactive,
.thirdBarInactive {
  transform: rotate(0);
}

@media (min-width: 750px) {
  .hamburger {
    display: none;
  }
}
