@import "../../theme.scss";

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: $header-height;

  a {
    text-decoration: none;
  }
}

.loggedInMenu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: $header-height 0;
  gap: 0.5rem;
}

.menuOptions {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: $semi-bold;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-base;

  &:hover {
    cursor: pointer;
  }
}
