@import "../../theme.scss";

.box {
  position: absolute;
  border-radius: 2px;
  color: $dark;
  display: flex;
  flex-direction: column;
}

.error {
  background-color: $danger-fade;
}

.warning {
  background-color: $warning-fade;
}

.success {
  background-color: $success-fade;
}

.buttonContainer {
  text-align: right;
}

.close {
  font-size: $font-size-l;
  border: none;
  padding: 0;
  padding-right: 0.5rem;
  background-color: transparent;
  color: $dark;
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.3rem;
  padding: 0rem 3rem 1rem;
}

.active {
  animation: bounce 1s ease forwards;
}

@keyframes bounce {
  0% {
    top: -5rem;
  }
  25% {
    top: 2rem;
  }
  40% {
    top: 1.5rem;
  }
  65% {
    top: 2rem;
  }
  100% {
    top: 2rem;
  }
}
