@import "../../theme.scss";

.container {
  display: flex;
  align-items: flex-end;
}

.text {
  padding-left: 0.3rem;
  display: none;
  color: $dark;
}

@media (min-width: 500px) {
  .text {
    display: inline;
  }
}
