@import "theme.scss";

html,
body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  background-color: $neutral;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.global {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  font-family: $font-family-base;
}
