/* =~= Theme Properties =~= */
$header-height: 3rem;
$border-radius-base: 6px;

/* =~= Fonts =~= */
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@200;400;800&display=swap");
$font-family-base: "Onest", sans-serif;
$font-size-base: 18px;
$letter-spacing-base: 1px;

/* =~= Colours =~= */
/* primary | #4ABEB2 */
$primary: #4abeb2;
$primary-accent: #10efd9;
$primary-fade: rgba(74, 190, 178, 0.5);
/* secondary | #652CBB */
$secondary: #652cbb;
$secondary-accent: #620cf2;
$secondary-fade: rgba(101, 44, 187, 0.5);
/* base | #E6E6E6 */
$light: #fff;
$dark: #000;
/* neutral | #E6E6E6 */
$neutral: #e6e6e6;
$neutral-accent: #c7c7c7;
/* success | #84CC16 */
$success: #84cc16;
/* warning | #DBEA08 */
$warning: #dbea08;
/* error | #C70C25 */
$error: #c70c25;

/* =~= Transitions =~= */
$transition-time-property: 0.3s ease-in-out;
